@model ExamProject.Models.Track

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Track</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Composer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Composer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Milliseconds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Milliseconds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bytes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bytes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Album.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Album.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MediaType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MediaType.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TrackId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
